/* hover buttons */
a.btn-sm:hover {
    background-color: #8fa03a !important;
    color: white !important;
}

/* cards hover */
.card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

/* hero background image */
.hero-bg {
    min-height: 60vh;
    object-fit: cover;
}

/* hero text */
.hero-text {
    top: 25%;
    right: 8%;
    max-width: 500px;
    width: 90%;
}

/*  MOBILE RESPONSIVE FIXES */
@media (max-width: 768px) {

    
    .mobile-static {
        position: static !important;
    }

   
    .hero-text {
        position: static !important;
        padding: 20px;
        background: white;
        max-width: 100%;
    }

    
    .search-box {
        width: 100% !important;
    }

    
    .hero-bg {
        min-height: 40vh;
    }

    
    section {
        /*padding:20px!important;*/
    }
}
.soap-section {
    padding-top: 100px;
}


@media (max-width: 768px) {
    .soap-section {
        padding-top: 30px;
    }
}
/* desktop */
.soap-img {
    margin-top: 100px;
}

/* tablet */
@media (max-width: 992px) {
    .soap-img {
        margin-top: 60px;
    }
}

/* mobile */
@media (max-width: 768px) {
    .soap-img {
        margin-top: 30px;
    }
}
@media (max-width: 768px) {
    .recent-courses-row .vr {
        display: none;
    }
}
